*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

body{
    background-color: rgba(165, 34, 34, 0.101);
}
#pTag{
    font-size: 40px;
    font-weight: 600;
    color: #42b72a;
    text-align: center;
    margin-top: 100px;
}
.facebook-clone{
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}
.logo{
    background-image: url("logo\ of\ face.png");
    height: 100px;
    width: 280px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* input section  */
.inputfull-sec{
    width: 400px;
    height: 500px;
}
.main-sec{
    height: 350px;
    width: 400px;
    margin-top: 50px;
    background-color: white;
    border-radius: 10px;
}
.input-sec{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}
.input-sec input{
    height: 52px;
    width: 360px;
    border-radius: 6px;
    border: none;
    border: 0.5px solid rgba(62, 57, 57, 0.147);
    font-size: 17px;
    padding-left: 15px;
}
.login{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}
.login button{
    height: 50px;
    width: 360px;
    border-radius: 6px;
    background-color: #1877f2;
    font-size: 20px;
    border: none;
    color: white;
}
.forgot{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    color: #1877f2;
}
.input-below{
    border-top: 0.5px solid white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-below button{
    height: 50px;
    width: 200px;
    border-radius: 6px;
    background-color: #42b72a;
    font-size: 17px;
    color: white;
    border: none;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 25px;
}
.footer span{
    font-weight: 600;
}